<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>This Little Piggy</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="css/style1.css">
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- Products stylesheet -->
  <link rel="stylesheet" href="css/productspage.css">
  <!-- Profile stylesheet-->
  <link rel="stylesheet" href="css/profilepage.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
    integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/91552cb926.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column flex-wrap" style="background-color: #efeadd">
  <!-- loader  -->
  <div class="loader_bg" style="background-color: #efeadd">
    <div class="loader"><img src="images/loadingPlant.gif" alt="plant" /></div>
  </div>
  <!-- end loader -->
  <header class="p-4">
    <nav class="navbar fixed-top" style="background-color: #b66850; border-bottom: 2px solid #498292">
      <div class="container-fluid">
        <div class="col-1">
          <a class="navbar-brand" href="../homepage"><i class="fa-sharp fa-solid fa-house-chimney fa-xl"
              style="color: #498292;"></i></a>
        </div>
        <div class="col-1 d-flex flex-column align-items-center authreq">
          <a href="../addproducts"><i class="fa-solid fa-plus fa-xl" style="color: #498292;"></i></a>
          <a href="../addproducts" style="font-size:small; color: #498292">Sell</a>
        </div>
        <div class="col-3">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <div class="col-1 d-flex flex-column align-items-center">
          <a href="../events"><i class="fa-solid fa-store fa-xl" style="color: #498292;"></i></a>
          <a href="../events" style="font-size:small; color: #498292">Markets</a>
        </div>
        <div class="col-1 d-flex flex-column align-items-center">
          <a href="../productspage"><i class="fa-solid fa-carrot fa-xl" style="color: #498292;"></i></a>
          <a href="../productspage" style="font-size:small; color: #498292">Products</a>
        </div>
        <div class="col-1 d-flex flex-column align-items-center">
          <a href="../mycart"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #498292"></i></a>
          <a href="../mycart" style="font-size:small; color: #498292">My Cart</a>
        </div>
        <div class="col-1 d-flex flex-column align-items-center">
          <a href="../profile"><i class="fa-regular fa-user fa-xl" style="color: #498292"></i></a>
          <a href="../profile" style="font-size:small; color: #498292">My Profile</a>
        </div>
      </div>
    </nav>
  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

  <!--  footer -->
  <footer class="pt-5">
    <div class="footer p-0" style="border: 5px solid #b66850">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="cont pt-3">
              <h3 style="color:#b66850">Let’s talk Business</h3>
              <p>Are you a local farmer, artisan, or producer looking to expand your reach and connect with a wider
                customer base? Join our Farmers Market app as a vendor and become a part of the movement to promote
                sustainable agriculture, support local farmers, and provide customers with access to fresh, wholesome
                products. Together, let's cultivate a thriving local food ecosystem and empower communities to make
                conscious, responsible choices. Contact us today to explore the possibilities of joining our project as
                a vendor!</p>
              <a class="read_more" href="../aboutus">About Us</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Section: Social media -->
      <div class="copyright mt-4 p-2" style="background-color:#498292">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- Facebook -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
                  class="fab fa-facebook-f"></i></a>
              <!-- Twitter -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
                  class="fab fa-twitter"></i></a>
              <!-- Google -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
                  class="fab fa-google"></i></a>
              <!-- Instagram -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
                  class="fab fa-instagram"></i></a>
              <p class="m-0">Copyright 2023 All Right Reserved By UTABootcamp Group 4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Javascript files-->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.0.0.min.js"></script>
  <script src="js/plugin.js"></script>
  <!-- sidebar -->
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>