<body>
   <!-- loader  -->
   <div class="loader_bg" style="background-color: #efeadd">
      <div class="loader"><img src="images/loadingPlant.gif" alt="plant" /></div>
   </div>
   <!-- end loader -->

   <!-- banner -->
   <section class="banner_main">
      <div class="container-fluid">
         <div class="row d_flex" style="background-color: #498292">
            <div class="col-xl-6 col-lg-6 col-md-12">
               <div class="banner_main_text">
                  <div class="titlepage d-flex flex-column align-items-center text-center" >
                     <h2 style="color: #b66850">Mission Statement</h2>
                     <p style="color:#efeadd">"At <span style="font-size:x-large; color:#b66850">This Little Piggy</span>, our mission is to bring the market to you. We connect communities with fresh, local produce by providing a convenient online platform to discover and order from nearby farmers markets. Our goal is to support local farmers, promote sustainable agriculture, and foster healthier eating habits. Through our user-friendly app, we empower busy individuals to easily access high-quality, locally sourced food while reducing food waste and carbon footprint. Together, let's nourish communities and embrace the joy of supporting local agriculture."</p>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 padding_right">
               <div class="banner_main_img ">
                  <figure class="d-flex flex-row justify-content-center align-items-center">
                     <img class="rounded-circle w-100 m-5" style="border: 5px solid #b66850" src="images/P2-logo.png" alt="brand logo"/>
                  </figure>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end banner -->

   <!-- about -->
   <div id="about"  class="about" style="background-color: #efeadd">
      <div class="container-fluid">
         <div class="row d_flex" style="background-color: #6d797c">
            <div class="col-xl-7 col-lg-7 col-md-12 padding_lert">
               <div class="about_img">
                  <figure class="d-flex flex-row justify-content-center align-items-center">
                     <img class="rounded w-100 m-5" src="images/about_img.jpg" alt="lady watering crops"/>
                  </figure>
               </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
               <div class="about_text">
                  <div class="titlepage d-flex flex-column align-items-center text-center">
                     <h2 style="color: #b66850">Search Nearby</h2>
                     <p style="color:#efeadd">Searching for markets in your area is a breeze. Our user-friendly platform offers a seamless search feature to help you discover local markets near you. Simply enter your location or allow the app to access your location automatically, and our intelligent search algorithm will display a list of nearby farmers markets.</p>
                     <a class="read_more" href="../events">Our Markets</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end about -->

   <!-- our_fruit -->
   <div id="our_fruit"  class="our_fruit pt-0" style="background-color: #efeadd">
      <div class="container-fluid">
         <div class="row d_flex" style="background-color: #917066">
            <div class="col-xl-5 col-lg-5 col-md-12">
               <div class="our_fruit_text">
                  <div class="titlepage m-3 d-flex flex-column justify-content-center align-items-center text-center">
                     <h2 style="color: #498292">Our Products</h2>
                     <p style="color:#efeadd">We take pride in offering an extraordinary selection of the finest products sourced from our partner farms. Our commitment to quality is unparalleled, with each item carefully handpicked by our team of expert curators.</p>
                     <a class="read_more" href="../productspage">Our Products</a>
                  </div>
               </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 padding_lert">
               <div class="row">
                  <div class="col-md-6 padd_lrri">
                     <div class="our_fruit_img">
                        <figure>
                           <img class="rounded pt-3" src="images/fruit_img1.jpg" alt="#"/>
                        </figure>
                     </div>
                  </div>
                  <div class="col-md-6 padd_lrri">
                     <div class="our_fruit_img">
                        <figure><img class="rounded pt-3" src="images/fruit_img2.jpg" alt="#"/></figure>
                     </div>
                  </div>
                  <div class="col-md-6 padd_lrri">
                     <div class="our_fruit_img">
                        <figure><img class="rounded" src="images/fruit_img3.jpg" alt="#"/></figure>
                     </div>
                  </div>
                  <div class="col-md-6 padd_lrri">
                     <div class="our_fruit_img">
                        <figure><img class="rounded" src="images/fruit_img4.jpg" alt="#"/></figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end our_fruit -->

   <!-- testimonial -->
   <div class="testimonial">
      <div class="container-fluid ">
         <div class="row d_flex" style="background-color: #b66850">
            <div class="col-xl-7 col-lg-7 col-md-12 p-3 order_1">
               <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                  <ol class="carousel-indicators">
                     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                     <li data-target="#myCarousel" data-slide-to="1"></li>
                     <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="container">
                           <div class="carousel-caption ">
                              <div class="row">
                                 <div class="col-md-12 ">
                                    <div class="test_box">
                                       <h4>Sarah W. -</h4>
                                       <p>"I can't imagine my life without this app! It has made my weekly grocery shopping a breeze. I love being able to browse through different local markets and order everything I need from the comfort of my home. The app is intuitive and user-friendly, and the pickup process is seamless. Highly recommended!"</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row">
                                 <div class="col-md-12 ">
                                    <div class="test_box">
                                       <h4>Michael R. -</h4>
                                       <p>"This Little Piggy has revolutionized the way I shop for fresh produce. I used to struggle to find the time to visit multiple farmers markets, but now I can easily explore a variety of markets with just a few taps on my phone. The quality of the products is outstanding, and I appreciate the app's commitment to supporting local farmers. It's like having a farmers market right at my fingertips!"</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row">
                                 <div class="col-md-12 ">
                                    <div class="test_box">
                                       <h4>Jennifer M. -</h4>
                                       <p>"I'm so grateful for This Little Piggy! As a busy professional, it's challenging to make time for grocery shopping. This app has been a game-changer for me. I can order all my favorite local products and pick them up at a time that suits my schedule. The convenience is unbeatable, and the produce is always fresh and delicious. Thank you for making healthy eating so accessible!"</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                  </a>
               </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 order_2">
               <div class="testimonial_box">
                  <div class="titlepage text-center">
                     <h2 style="color: #498292">Testimonial</h2>
                  </div>
                  <p style="color: #efeadd" class="text-center">Join the growing community of satisfied users who have embraced the ease and joy of shopping through <span style="font-size:x-large; color:#498292">This Little Piggy</span>. Experience the convenience, taste the freshness, and discover a whole new world of local food possibilities. See what our users have to say:</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end testimonial -->

   <!-- ======= Team Section ======= -->
   <section id="team" class="team" style="background-color: #efeadd">
   <div class="container" style="background-color: #6d797c">
      <div class="section-title">
         <h2 style="color:#efeadd" class="text-center">Our Hardworking Team</h2>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center">
         <div class="member">
            <div class="member-img">
               <img src="/images/Erica-Leyba.jpg" class="img-fluid" alt="Erica Leyba">
               <div class="social">
               <a href="https://github.com/LeybaAir"><i class="fa-brands fa-lg fa-github" style="color: #498292;"></i></a>
               <a href=""><i class="fa-solid fa-user" style="color: #917066;"></i></a>
               <a href="https://www.linkedin.com/in/erica-leyba/"><i class="fa-brands fa-linkedin" style="color: #b66850;"></i></i></a>
               </div>
            </div>
            <div class="member-info">
               <h4>Erica Leyba</h4>
               <span>Chief Executive Officer</span>
            </div>
         </div>
         </div>
         <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center">
         <div class="member">
            <div class="member-img">
               <img src="/images/Brodi-LeBlanc2.png" class="img-fluid" alt="Brodi LeBlanc">
               <div class="social">
               <a href="https://github.com/brodi-xx"><i class="fa-brands fa-lg fa-github" style="color: #498292;"></i></a>
               <a href=""><i class="fa-solid fa-user" style="color: #917066;"></i></a>
               <a href="https://www.linkedin.com/in/brodileblanc/"><i class="fa-brands fa-linkedin" style="color: #b66850;"></i></i></a>
               </div>
            </div>
            <div class="member-info">
               <h4>Brodi LeBlanc</h4>
               <span>Product Manager</span>
            </div>
         </div>
         </div>
         <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center">
         <div class="member">
            <div class="member-img">
               <img src="images/Lanre-Abu.JPG" class="img-fluid" alt="Lanre-Abu">
               <div class="social">
               <a href="https://github.com/lanreabu77"><i class="fa-brands fa-lg fa-github" style="color: #498292;"></i></a>
               <a href=""><i class="fa-solid fa-user" style="color: #917066;"></i></a>
               <a href="https://www.linkedin.com/in/lanre-abu-9855a5250/"><i class="fa-brands fa-linkedin" style="color: #b66850;"></i></i></a>
               </div>
            </div>
            <div class="member-info">
               <h4>Lanre Abu</h4>
               <span>Chief Technology Officer</span>
            </div>
         </div>
         </div>
         <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center">
         <div class="member">
            <div class="member-img">
               <img src="/images/Steph-Jauch2.jpg" class="img-fluid" alt="Stephanie Jauch">
               <div class="social">
               <a href="https://github.com/SKJauch"><i class="fa-brands fa-lg fa-github" style="color: #498292;"></i></a>
               <a href=""><i class="fa-solid fa-user" style="color: #917066;"></i></a>
               <a href="https://www.linkedin.com/in/stephanie-jauch-1233471a3/"><i class="fa-brands fa-linkedin" style="color: #b66850;"></i></i></a>
               </div>
            </div>
            <div class="member-info">
               <h4>Stephanie Jauch</h4>
               <span>Chief Marketing Officer</span>
            </div>
         </div>
         </div>
         <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center">
         <div class="member">
            <div class="member-img">
               <img src="/images/Joey-Stanion.JPG" class="img-fluid" alt="Joseph Stanion">
               <div class="social">
               <a href="https://github.com/Jstanion"><i class="fa-brands fa-lg fa-github" style="color: #498292;"></i></a>
               <a href="https://jstanion.github.io/week2-portfolio/"><i class="fa-solid fa-user" style="color: #917066;"></i></a>
               <a href="https://www.linkedin.com/in/josephstanion/"><i class="fa-brands fa-linkedin" style="color: #b66850;"></i></i></a>
               </div>
            </div>
            <div class="member-info">
               <h4>Joseph Stanion</h4>
               <span>User Experience (UX) Designer</span>
            </div>
         </div>
         </div>
         <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center">
         <div class="member">
            <div class="member-img">
               <img src="images/Russo-Borneo.jpg" class="img-fluid" alt="Russo Borneo">
               <div class="social">
               <a href="https://github.com/RussoB22"><i class="fa-brands fa-lg fa-github" style="color: #498292;"></i></a>
               <a href=""><i class="fa-solid fa-user" style="color: #917066;"></i></a>
               <a href=""><i class="fa-brands fa-linkedin" style="color: #b66850;"></i></i></a>
               </div>
            </div>
            <div class="member-info">
               <h4>Russo Borneo</h4>
               <span>Chief Data Analyst</span>
            </div>
         </div>
         </div>
      </div>
   </div>
   </section>
   <!-- End Team Section -->

   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/plugin.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <!-- modal -->
   <script src="js/homepage.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
