<title>TLP - My Cart</title>

<body>
  <h1>My Shopping Cart</h1>
  <div id="cart">
    <h2>Cart</h2>
    <ul id="cart-items">
      {{#each cartItems}}
        <li>{{name}} - ${{price}}</li>
      {{/each}}
    </ul>
    <p>Total: ${{cartTotal}}</p>
    <button id="checkout-btn">Checkout</button>
  </div>
  <script src="mycart.js"></script>
</body>
</html>
