<form class="signup-form" style="border:none #ccc; text-align: center;">
  <img src="images/P2-logo.png" class="rounded-circle w-25 m-3; img-fluid" alt="this little piggy logo" style="max-width: 100%; height: auto; margin: 0 auto;">
  <h5 style="color:black; margin-top: 30px"><b>Fresh Food, Fresh Start, Shop Local....🐷</b></h5>
  <br>
  <h1 class="display-4 fw-bolder" style="color:black">Sign Up</h1>
  <p class="lead fw-normal text-black-50 mb-0">Please fill in this form to <b>create an account</b>.</p>
  <hr>

    <label for="name" class="sign-up"><b>Name</b></label>
    <input type="text" placeholder="Enter Full Name" name="full-name" required>

    <label for="email" class="sign-up"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw" class="sign-up"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-confirmation" class="sign-up"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="psw-confirmation" required>

    <label for="address" class="sign-up"><b>Address</b></label>
    <input type="text" placeholder="#### Street, City, State, Zip Code" name="address" required>

    <label for="phone" class="sign-up"><b>Phone Number</b></label>
    <input type="text" placeholder="###-###-####" name="phone" required>

    <label for="birthday" class="sign-up"><b>Birthday</b></label>
    <input type="text" placeholder="MM/DD/YYYY" name="birthday" required>

    <label for="picture" class="sign-up"><b>Profile Picture</b></label>
    <input type="text" placeholder="Upload Photo" name="picture" required>

    <p>By creating an account you agree to our <a href="images\TCs.png" target="_blank" style="color:dodgerblue">Terms & Condtions</a>.</p>
      
      <button type="submit" class="sign-up-btn">Create Account</button>
      <button type="button" class="sign-up-btn">Cancel</button>
</form>


<script src="/js/signup.js"></script>